* {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "Press Start 2P", system-ui;
  background-color: black;
  display: flex;
  justify-content: center;
}

.main-wrapper{
  background-color: rgb(140, 192, 28);
  height: 100vh;
  width: 50%;
}

.header-wrapper{
  margin: .7rem;
  display: flex;
  justify-content: space-between;
}

.user-data-copyright, .game-stats-box{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
}

a{
  color: blue;
}

.computer-box{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.computer-choice, .player-choice{
  border: 2px dashed rgb(84, 84, 84);
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 12rem;
  width: 12.1rem;
  font-size: 9rem;
  text-align: center;
}
.computer-name{
  margin-bottom: 0px;
}


.computer-name, .player-name{
  font-size: 1.4rem;
}
.player-box{
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.results-box{
  background-color: rgb(229, 155, 27);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 6rem;
  width: 100%;
  font-size: 2rem;
}

.game-choices-box{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.choice{
  background-color: white;
  border-radius: 8px;
  text-align: center;
  height: fit-content;
  width: fit-content;
  font-size: 1.2rem;
  padding-inline: 2.5rem;
  padding-block: 0rem;
  cursor: pointer;
}
 
.choice:hover{
  background-color: rgb(243, 243, 243);
}

.emoji{
  margin-top: .2rem;
  font-size: 5rem;
  margin-bottom: 0rem;
}

